@page
@model CoreCRUD.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<p>Enter your name:</p>
<form method="POST">
   
        <div asp-validation-summary="All"></div>
        <div>Name: <input asp-for="Customer.Name" /></div>
        <span asp-validation-for="Customer.Name"></span>
        <input type="submit" />
    
</form>