<Header>
  <!--Agregamos el componente home que se visulizara y dentro del mismo el codigo html contenido en el tag app-home -->
  <app-home>
    <h2>Demonstrating a few HTML features</h2>

    HTML is really a very simple language. It consists of ordinary text, with
    commands that are enclosed by "<" and ">" characters, or bewteen an "&" and
    a ";".
    <p>
      You don't really need to know much HTML to create a page, because you can
      copy bits of HTML from other pages that do what you want, then change the
      text!
    </p>
  </app-home>
</Header>

<router-outlet></router-outlet>
